In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf

DATA COLLECTION

1. Datos de Yahoo Finance

In [2]:
sp500 = yf.Ticker("^GSPC")
gold = yf.Ticker("^GC=F")
oil= yf.Ticker("CL=F")
brent= yf.Ticker("BZ=F")

Gold no existe. El ticker no baja ninguna información. Lo sustituyo por la volatilidad del mercado de oro que se descarga de los datos de la FED de St. Louis.

Para el Sp500 utilizo los datos a partir del año 2000, ya que en años anteriores la composición por industria del SP500 era bastante diferente. A partir de ese año hay importnate participación del sector teconología. Hago lo mismo para las otras variables

In [3]:
start_date = '2000-01-01'
end_date = '2024-04-30'

sp500 = sp500.history(period="max")
sp500 =sp500.loc[start_date:end_date].copy ()
oil = oil.history(period="max")
oil = oil.loc[start_date:end_date].copy ()
brent = brent.history(period="max") 
brent = brent.loc[start_date:end_date:].copy ()

In [4]:
sp500.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2000-01-03 00:00:00-05:00,1469.250000,1478.000000,1438.359985,1455.219971,931800000,0.0,0.0
2000-01-04 00:00:00-05:00,1455.219971,1455.219971,1397.430054,1399.420044,1009000000,0.0,0.0
2000-01-05 00:00:00-05:00,1399.420044,1413.270020,1377.680054,1402.109985,1085500000,0.0,0.0
2000-01-06 00:00:00-05:00,1402.109985,1411.900024,1392.099976,1403.449951,1092300000,0.0,0.0
2000-01-07 00:00:00-05:00,1403.449951,1441.469971,1400.729980,1441.469971,1225200000,0.0,0.0

In [5]:
#Remueve las columans que no necesito
sp500 = sp500.drop(columns=['Dividends', 'Stock Splits'])
sp500.index= sp500.index.tz_localize(None) # remove timezone porque tengo otras variables que no la tienen. para uniformar

In [6]:
#Guarda el dataset en un archivo csv   
sp500.to_csv('sp500.csv', index=True)

In [7]:
#Hace lo mismo con el resto de los activos
oil = oil.drop(columns=['Dividends', 'Stock Splits', 'Open', 'High', 'Low', 'Volume'])
oil.index= oil.index.tz_localize(None) # remove timezone
oil.head()

                Close
Date
2000-08-23  32.049999
2000-08-24  31.629999
2000-08-25  32.049999
2000-08-28  32.869999
2000-08-29  32.720001

In [8]:
# Renombr< la columna 'Close' a 'Close_oil' en el DataFrame 'oil' para que no se confunda con la del S&P 500
oil.rename(columns={'Close': 'Close_oil'}, inplace=True)

# Muestra las primeras filas para verificar el cambio
print(oil.head())

            Close_oil
Date
2000-08-23  32.049999
2000-08-24  31.629999
2000-08-25  32.049999
2000-08-28  32.869999
2000-08-29  32.720001

2. Datos de FRED (Banco de la Reserva Federal de St. Louis) -

Información económica diaria y que refleja expectativas del mercado. Como no existen variables fundamentales diarias relacionadas con el índice, 
incluyo variables diarias del mercado que reflejen el sentimiento de la evolución de la economía, lo cual afecta consecuentemente la evolución de las empresas y su valor.
Las variables macro y las fundamentales en general no suelen ser diarias.

In [9]:
import requests


# FRED API endpoint
url = "https://api.stlouisfed.org/fred/series/observations"

# List of series IDs to be downloaded
# CREDIT RISK AND RISK APPETITE VARIABLES # OJO --->>>> Estas variables miden el riesgo de crédito y el apetito por el riesgo de los inversores 

# DAAA = Moody's Seasoned Aaa Corporate Bond Yield
# AAA10Y = Moody's Seasoned Aaa Corporate Bond Yield Relative to Yield on 10-Year Treasury Constant Maturity
# DBAA = Moody's Seasoned Baa Corporate Bond Yield
# BAA10Y = Moody's Seasoned Baa Corporate Bond Yield Relative to Yield on 10-Year Treasury Constant Maturity
# BAMLH0A0HYM2 = ICE BofA US High Yield Index Option-Adjusted Spread 
# BAMLH0A2HYB = ICE BofA Single-B US High Yield Index Option-Adjusted Spread 
# BAMLH0A3HYC = ICE BofA CCC & Lower US High Yield Index Option-Adjusted Spread
# BAMLHE00EHYIOAS = ICE BofA Euro High Yield Index Option-Adjusted Spread -  

# INTEREST RATE VARIABLES
#OJO --->>>> Esta variables miden el cambio en las expectativas de inflación y los movimientos de tasas de interés

# T10Y2Y = 10-Year Treasury Constant Maturity Minus 2-Year Treasury Constant Maturity
# T10Y3M = 10-Year Treasury Constant Maturity Minus 3-Month Treasury Constant Maturity  
# T5YIE = 5-Year Breakeven Inflation Rate (Expected Inflation Rate) - 5-Year 

# EXCHANGE RATES Vs main commercial partners for the U.S.
# DEXUSEU = U.S. Dollars to Euro Spot Exchange Rate - value of one U.S. Dollar in Euros
# DEXCHUS = Chinese Yuan Renminbi to U.S. Dollar Spot Exchange Rate - value of one Chinese Yuan Renminbi in U.S. Dollars
# DEXCAUS = Canadian Dollars to U.S. Dollar Spot Exchange Rate - value of one Canadian Dollar in U.S. Dollars
# DEXMXUS= Mexican Pesos to U.S. Dollar Spot Exchange Rate - value of one Mexican Peso in U.S. Dollars

# VOLATILITY INDECES (MARKET EXPECTATION OF NEAR TERM VOLATILITY)
# VIXCLS = CBOE Volatility Index - VIX measures market expectation of near term volatility conveyed by stock index option prices.
#(GVZCLS)= CBOE Gold ETF Volatility Index 

series_ids = ['DAAA','AAA10Y','DBAA','BAA10Y','BAMLH0A0HYM2','BAMLH0A2HYB','BAMLH0A3HYC','BAMLHE00EHYIOAS','T10Y2Y','T10Y3M','T5YIE','DEXUSEU','DEXCHUS','DEXCAUS','DEXMXUS','VIXCLS','GVZCLS']

# Your FRED API key
api_key = '7de04d83472c6affd4e0a1505211d3b9'

# Initialize an empty dictionary to store DataFrames
dfs = {}

# Loop through each series ID
for series_id in series_ids:
    # API parameters
    params = {
        'series_id': series_id,
        'api_key': api_key,
        'file_type': 'json',
    }
    
    # Make the API request
    response = requests.get(url, params=params)
    
    # Check if the request was successful
    if response.status_code == 200:
        # Convert the response to JSON
        data = response.json()
        # Extract data for DataFrame
        dates = [item['date'] for item in data['observations']]
        values = [item['value'] for item in data['observations']]
        # Create DataFrame and convert types
        temp_df = pd.DataFrame({'Date': dates, series_id: values})
        temp_df['Date'] = pd.to_datetime(temp_df['Date'])
        temp_df[series_id] = pd.to_numeric(temp_df[series_id], errors='coerce')
        # Add the DataFrame to the dictionary
        dfs[series_id] = temp_df.set_index('Date')
    else:
        print(f"Failed to retrieve data for {series_id}: {response.status_code}")

# Combine all the series DataFrames into one DataFrame 
macroeconomic_df = pd.concat(dfs.values(), axis=1)

3. Uno los dataframes

In [10]:
# Unir macroeconomic_df con sp500 basado en sus índices de fecha
AllVar_df =sp500.join(macroeconomic_df, how='inner')

print(AllVar_df.index)
AllVar_df = AllVar_df.sort_index()

DatetimeIndex(['2000-01-03', '2000-01-04', '2000-01-05', '2000-01-06',
               '2000-01-07', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14',
               ...
               '2024-04-17', '2024-04-18', '2024-04-19', '2024-04-22',
               '2024-04-23', '2024-04-24', '2024-04-25', '2024-04-26',
               '2024-04-29', '2024-04-30'],
              dtype='datetime64[ns]', name='Date', length=6120, freq=None)

In [11]:
# Unir el DataFrame 'oil' al 'AllVar_df' que ya contiene datos combinados de 'macroeconomic_df' y 'sp500'
# Asegúrate de que 'oil' está indexado adecuadamente, si es necesario
if 'Date' in oil.columns:
    oil.set_index('Date', inplace=True)

# Especificando sufijos para resolver el conflicto de nombres de columnas
AllVar_df = AllVar_df.join(oil, how='inner', lsuffix='_AllVar', rsuffix='_oil')

# Mostrar las primeras filas para verificar las nuevas columnas
print(AllVar_df.head())

                   Open         High          Low        Close     Volume  \
Date
2000-08-23  1498.130005  1507.199951  1489.520020  1505.969971  871000000
2000-08-24  1505.969971  1511.160034  1501.250000  1508.310059  837100000
2000-08-25  1508.310059  1513.469971  1505.089966  1506.449951  685600000
2000-08-28  1506.449951  1523.949951  1506.449951  1514.089966  733600000
2000-08-29  1514.089966  1514.810059  1505.459961  1509.839966  795600000

            DAAA  AAA10Y  DBAA  BAA10Y  BAMLH0A0HYM2  ...  T10Y2Y  T10Y3M  \
Date                                                  ...
2000-08-23  7.55    1.82  8.26    2.53          6.43  ...   -0.47   -0.56
2000-08-24  7.51    1.78  8.22    2.49          6.44  ...   -0.46   -0.56
2000-08-25  7.52    1.79  8.23    2.50          6.42  ...   -0.46   -0.58
2000-08-28  7.56    1.78  8.27    2.49          6.36  ...   -0.45   -0.54
2000-08-29  7.58    1.77  8.30    2.49          6.30  ...   -0.45   -0.50

            T5YIE  DEXUSEU  DEXCHUS  DEXCAUS  DEXMXUS  VIXCLS  GVZCLS  \
Date
2000-08-23    NaN   0.8967   8.2793   1.4877   9.2725   17.38     NaN
2000-08-24    NaN   0.9028   8.2799   1.4871   9.2440   17.04     NaN
2000-08-25    NaN   0.9024   8.2799   1.4828   9.2320   16.53     NaN
2000-08-28    NaN   0.9002   8.2799   1.4845   9.2130   16.54     NaN
2000-08-29    NaN   0.8966   8.2799   1.4868   9.2325   16.89     NaN

            Close_oil
Date
2000-08-23  32.049999
2000-08-24  31.629999
2000-08-25  32.049999
2000-08-28  32.869999
2000-08-29  32.720001

[5 rows x 23 columns]

4. Calculo metricas de cambios

4.2 Calculo de las variables para análisis técnico (variables calculadas a partir de los precios de los activos). Ayudan a la toma de decisiones al dar información sobre el comportamiento de cada activo a través del tiempo.
Buscan determinar tendencias en los precios.

Medias moviles (dias h'abiles)

In [12]:
#Calculo la media 
# Periodos para las medias móviles
moving_avg_periods = [5,10, 20,200]

# Calcular y asignar cada media móvil utilizando un bucle
for period in moving_avg_periods:
    AllVar_df[f'{period}d_moving_avg'] = AllVar_df['Close'].rolling(window=period).mean()

# Mostrar las primeras filas para verificar las nuevas columnas
AllVar_df.head()

,Open,High,Low,Close,Volume,DAAA,AAA10Y,DBAA,BAA10Y,BAMLH0A0HYM2,...,DEXCHUS,DEXCAUS,DEXMXUS,VIXCLS,GVZCLS,Close_oil,5d_moving_avg,10d_moving_avg,20d_moving_avg,200d_moving_avg
Date,,,,,,,,,,,,,,,,,,,,,
2000-08-23,1498.130005,1507.199951,1489.520020,1505.969971,871000000,7.55,1.82,8.26,2.53,6.43,...,8.2793,1.4877,9.2725,17.38,NaN,32.049999,NaN,NaN,NaN,NaN
2000-08-24,1505.969971,1511.160034,1501.250000,1508.310059,837100000,7.51,1.78,8.22,2.49,6.44,...,8.2799,1.4871,9.2440,17.04,NaN,31.629999,NaN,NaN,NaN,NaN
2000-08-25,1508.310059,1513.469971,1505.089966,1506.449951,685600000,7.52,1.79,8.23,2.50,6.42,...,8.2799,1.4828,9.2320,16.53,NaN,32.049999,NaN,NaN,NaN,NaN
2000-08-28,1506.449951,1523.949951,1506.449951,1514.089966,733600000,7.56,1.78,8.27,2.49,6.36,...,8.2799,1.4845,9.2130,16.54,NaN,32.869999,NaN,NaN,NaN,NaN
2000-08-29,1514.089966,1514.810059,1505.459961,1509.839966,795600000,7.58,1.77,8.30,2.49,6.30,...,8.2799,1.4868,9.2325,16.89,NaN,32.720001,1508.931982,NaN,NaN,NaN

Media movil ultimos 10 días hábiles

In [13]:
#Calculo el promedio móvil ponderado de los ultimas 2 semanas

# Definimos los pesos decrecientes para los últimos 10 días hábiles.
weights = np.arange(1, 11)[::-1]  # Esto crea un array de numpy: [10, 9, ..., 2, 1]

# Calculamos el WMA para cada ventana de 10 días hábiles.
# Usamos apply para aplicar una función personalizada que calcula el WMA de manera vectorizada.
AllVar_df['10d_wma'] = AllVar_df['Close'].rolling(window=10).apply(lambda x: np.dot(x, weights) / weights.sum(), raw=True)

# Ahora, el DataFrame 'AllVar_df' contiene una nueva columna '10d_wma' con el WMA de 10 días.
# Muestra los primeros registros para verificar.
print(AllVar_df[['Close', '10d_wma']].head(20))

                  Close      10d_wma
Date
2000-08-23  1505.969971          NaN
2000-08-24  1508.310059          NaN
2000-08-25  1506.449951          NaN
2000-08-28  1514.089966          NaN
2000-08-29  1509.839966          NaN
2000-08-30  1502.589966          NaN
2000-08-31  1517.680054          NaN
2000-09-01  1520.770020          NaN
2000-09-05  1507.079956          NaN
2000-09-06  1492.250000  1509.020898
2000-09-07  1502.510010  1509.418539
2000-09-08  1494.500000  1509.139617
2000-09-11  1489.260010  1508.886353
2000-09-12  1481.989990  1506.660358
2000-09-13  1484.910034  1504.753820
2000-09-14  1480.869995  1503.770554
2000-09-15  1465.810059  1499.100546
2000-09-18  1444.510010  1492.482180
2000-09-19  1459.900024  1487.495099
2000-09-20  1451.339966  1484.460556

Momentum

In [14]:
# Calcular el momentum como el cambio día a día en la columna 'Close'. Es lo mismo que el daily change pero en absoluto no porcentual
AllVar_df['Momentum'] = AllVar_df['Close'].diff()

print(AllVar_df.head())  # Mostrar las primeras filas para verificar la nueva columna

                   Open         High          Low        Close     Volume  \
Date
2000-08-23  1498.130005  1507.199951  1489.520020  1505.969971  871000000
2000-08-24  1505.969971  1511.160034  1501.250000  1508.310059  837100000
2000-08-25  1508.310059  1513.469971  1505.089966  1506.449951  685600000
2000-08-28  1506.449951  1523.949951  1506.449951  1514.089966  733600000
2000-08-29  1514.089966  1514.810059  1505.459961  1509.839966  795600000

            DAAA  AAA10Y  DBAA  BAA10Y  BAMLH0A0HYM2  ...  DEXMXUS  VIXCLS  \
Date                                                  ...
2000-08-23  7.55    1.82  8.26    2.53          6.43  ...   9.2725   17.38
2000-08-24  7.51    1.78  8.22    2.49          6.44  ...   9.2440   17.04
2000-08-25  7.52    1.79  8.23    2.50          6.42  ...   9.2320   16.53
2000-08-28  7.56    1.78  8.27    2.49          6.36  ...   9.2130   16.54
2000-08-29  7.58    1.77  8.30    2.49          6.30  ...   9.2325   16.89

            GVZCLS  Close_oil  5d_moving_avg  10d_moving_avg  20d_moving_avg  \
Date
2000-08-23     NaN  32.049999            NaN             NaN             NaN
2000-08-24     NaN  31.629999            NaN             NaN             NaN
2000-08-25     NaN  32.049999            NaN             NaN             NaN
2000-08-28     NaN  32.869999            NaN             NaN             NaN
2000-08-29     NaN  32.720001    1508.931982             NaN             NaN

            200d_moving_avg  10d_wma  Momentum
Date
2000-08-23              NaN      NaN       NaN
2000-08-24              NaN      NaN  2.340088
2000-08-25              NaN      NaN -1.860107
2000-08-28              NaN      NaN  7.640015
2000-08-29              NaN      NaN -4.250000

[5 rows x 29 columns]

Stochastic %K

El Stochastic %K es una medida de la posición relativa del precio de cierre actual en relación con el rango alto-bajo durante un número específico de períodos pasados. La fórmula para calcular el Stochastic %K es la siguiente:

% K = [(C-LLn)/(HHn-LLn)]x 100� 

donde:


C es el precio de cierre más reciente,

LLn es el precio más bajo de los prcios bajos (Low) en los últimos n períodos,
Hn  es el precio más alto de lso pecios altos (High) en los últimos n períodos,
n es el número de períodos utilizados para el cálculo.
El valor de n varía según el análisis, pero los valores comunes incluyen 14, 20 o cualquier otro valor dependiendo de la estrategia de trading

In [15]:
# Calcular el Stochastic %K para cada fila basado en los 20 días laborables previos
# Crear una función para encapsular el cálculo
#def calculate_stochastic_k(row_index, df):
    #if row_index < 19:  # Asegurar que haya suficientes datos para los primeros 19 registros
        #return None
    #else:
        #period = df['Close'][row_index-19:row_index+1]  # Seleccionar los últimos 20 registros hasta el índice actual
        #low_20 = period.min()
        #high_20 = period.max()
        #close_recent = df['Close'].iloc[row_index]
        #stochastic_k = ((close_recent - low_20) / (high_20 - low_20)) * 100
        #return stochastic_k

# Aplicar la función a cada fila
# Nota: Esto puede ser lento para DataFrames muy grandes debido al enfoque iterativo
#sp500['Stochastic_%K'] = [calculate_stochastic_k(i, sp500) for i in range(len(sp500))]

#print(sp500.tail())  # Mostrar las últimas filas para verificar la nueva columna
#sp500.head


# Crea una función para encapsular el cálculo del Stochastic %K
def calculate_stochastic_k(row_index, df):
    if row_index < 19:  # Asegurar que haya suficientes datos para los primeros 19 registros
        return None
    else:
        # Seleccionar los últimos 20 registros hasta el índice actual para las columnas 'High' y 'Low'
        high_period = df['High'][row_index-19:row_index+1]
        low_period = df['Low'][row_index-19:row_index+1]
        low_20 = low_period.min()
        high_20 = high_period.max()
        close_recent = df['Close'].iloc[row_index]
        
        # Calcular el Stochastic %K
        stochastic_k = ((close_recent - low_20) / (high_20 - low_20)) * 100
        return stochastic_k

# Aplica la función a cada fila
AllVar_df['Stochastic_%K'] = [calculate_stochastic_k(i, AllVar_df) for i in range(len(AllVar_df))]

# Muestra las últimas filas para verificar la nueva columna
print(AllVar_df.tail())

                   Open         High          Low        Close      Volume  \
Date
2024-04-24  5084.859863  5089.479980  5047.020020  5071.629883  3656740000
2024-04-25  5019.879883  5057.750000  4990.580078  5048.419922  3958050000
2024-04-26  5084.649902  5114.620117  5073.140137  5099.959961  3604140000
2024-04-29  5114.129883  5123.490234  5088.649902  5116.169922  3447450000
2024-04-30  5103.779785  5110.830078  5035.310059  5035.689941  4082470000

            DAAA  AAA10Y  DBAA  BAA10Y  BAMLH0A0HYM2  ...  VIXCLS  GVZCLS  \
Date                                                  ...
2024-04-24  5.41    0.76  6.13    1.48          3.19  ...   15.97   17.45
2024-04-25  5.45    0.75  6.17    1.47          3.24  ...   15.37   17.32
2024-04-26  5.39    0.72  6.12    1.45          3.16  ...   15.03   16.92
2024-04-29  5.35    0.72  6.08    1.45          3.12  ...   14.67   16.92
2024-04-30  5.41    0.72  6.13    1.44          3.18  ...   15.65   16.54

            Close_oil  5d_moving_avg  10d_moving_avg  20d_moving_avg  \
Date
2024-04-24  82.809998    5026.225977     5058.904004     5133.872046
2024-04-25  83.570000    5033.685938     5043.839990     5123.868530
2024-04-26  83.849998    5060.231934     5041.494971     5116.149023
2024-04-29  82.629997    5081.345898     5046.929980     5109.769019
2024-04-30  81.930000    5074.373926     5045.357959     5101.263013

            200d_moving_avg      10d_wma   Momentum  Stochastic_%K
Date
2024-04-24      4683.744802  5077.418759   1.080078      37.929201
2024-04-25      4686.790603  5049.196928 -23.209961      30.473144
2024-04-26      4689.929602  5034.303258  51.540039      47.166416
2024-04-29      4692.960251  5031.596014  16.209961      53.661347
2024-04-30      4695.611602  5030.495614 -80.479980      27.102908

[5 rows x 30 columns]

Stochastic %D

El indicador Stochastic %D es una media móvil del indicador Stochastic %K. Usualmente se calcula como la media móvil simple de los últimos 3 valores de %K. Para calcular el %D para las últimas 20 observaciones de tu DataFrame sp500, primero necesitaríamos calcular el %K como se discutió anteriormente, y luego aplicar una media móvil sobre esos valores de %K.

In [16]:

# Calcular el Stochastic %D como la media móvil simple de 3 días de %K
AllVar_df['Stochastic_%D'] = AllVar_df['Stochastic_%K'].rolling(window=3).mean()

# Si solo necesitas las últimas 20 observaciones para el %D, puedes hacer lo siguiente:
last_20_stochastic_D = AllVar_df['Stochastic_%D'][-20:]

print(last_20_stochastic_D)
AllVar_df.head(9)

Date
2024-04-03    76.922842
2024-04-04    57.726515
2024-04-05    55.575326
2024-04-08    53.829101
2024-04-09    64.992990
2024-04-10    54.961573
2024-04-11    53.283501
2024-04-12    35.318808
2024-04-15    25.095684
2024-04-16     7.141325
2024-04-17     5.118661
2024-04-18     4.821237
2024-04-19     4.569616
2024-04-22     8.741723
2024-04-23    20.099123
2024-04-24    31.278398
2024-04-25    35.328193
2024-04-26    38.522920
2024-04-29    43.766969
2024-04-30    42.643557
Name: Stochastic_%D, dtype: float64

,Open,High,Low,Close,Volume,DAAA,AAA10Y,DBAA,BAA10Y,BAMLH0A0HYM2,...,GVZCLS,Close_oil,5d_moving_avg,10d_moving_avg,20d_moving_avg,200d_moving_avg,10d_wma,Momentum,Stochastic_%K,Stochastic_%D
Date,,,,,,,,,,,,,,,,,,,,,
2000-08-23,1498.130005,1507.199951,1489.520020,1505.969971,871000000,7.55,1.82,8.26,2.53,6.43,...,NaN,32.049999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-08-24,1505.969971,1511.160034,1501.250000,1508.310059,837100000,7.51,1.78,8.22,2.49,6.44,...,NaN,31.629999,NaN,NaN,NaN,NaN,NaN,2.340088,NaN,NaN
2000-08-25,1508.310059,1513.469971,1505.089966,1506.449951,685600000,7.52,1.79,8.23,2.50,6.42,...,NaN,32.049999,NaN,NaN,NaN,NaN,NaN,-1.860107,NaN,NaN
2000-08-28,1506.449951,1523.949951,1506.449951,1514.089966,733600000,7.56,1.78,8.27,2.49,6.36,...,NaN,32.869999,NaN,NaN,NaN,NaN,NaN,7.640015,NaN,NaN
2000-08-29,1514.089966,1514.810059,1505.459961,1509.839966,795600000,7.58,1.77,8.30,2.49,6.30,...,NaN,32.720001,1508.931982,NaN,NaN,NaN,NaN,-4.250000,NaN,NaN
2000-08-30,1509.839966,1510.489990,1500.089966,1502.589966,818400000,7.58,1.77,8.30,2.49,6.28,...,NaN,33.400002,1508.255981,NaN,NaN,NaN,NaN,-7.250000,NaN,NaN
2000-08-31,1502.589966,1525.209961,1502.589966,1517.680054,1056600000,7.52,1.79,8.24,2.51,6.43,...,NaN,33.099998,1510.129980,NaN,NaN,NaN,NaN,15.090088,NaN,NaN
2000-09-01,1517.680054,1530.089966,1515.530029,1520.770020,767700000,7.51,1.83,8.22,2.54,6.48,...,NaN,33.380001,1512.993994,NaN,NaN,NaN,NaN,3.089966,NaN,NaN
2000-09-05,1520.770020,1520.770020,1504.209961,1507.079956,838500000,7.51,1.82,8.22,2.53,6.41,...,NaN,33.799999,1511.591992,NaN,NaN,NaN,NaN,-13.690063,NaN,NaN

El Índice de Fuerza Relativa

El Índice de Fuerza Relativa (RSI, por sus siglas en inglés) es un indicador de momento que mide la magnitud de los movimientos recientes de precios para evaluar condiciones de sobrecompra o sobreventa en el precio de un activo. Se calcula utilizando la fórmula:

RSI=100− 100/(1+RS)
 

donde 
�
�
RS es la relación media de días de cierre hacia arriba entre la media de días de cierre hacia abajo. Para calcularlo para los últimos 20 y 10 días, necesitamos seguir los siguientes pasos para cada ventana de tiempo:

Calcular los cambios diarios en el precio de cierre.
Separar estos cambios en ganancias (aumentos) y pérdidas (disminuciones).
Calcular el promedio de ganancias y el promedio de pérdidas sobre el período de interés (20 días y 10 días, respectivamente).
Calcular el RS, que es el promedio de ganancias dividido por el promedio de pérdidas.
Utilizar la fórmula del RSI para obtener el valor final.

In [17]:
# Separar las ganancias (positivas) de las pérdidas (negativas)
gain = AllVar_df['Momentum'].mask(AllVar_df['Momentum'] > 0, 0)
loss = -AllVar_df['Momentum'].mask(AllVar_df['Momentum'] < 0, 0)

# Calcular el RSI para los últimos 20 y 10 días
window_lengths = [20, 10]

for length in window_lengths:
    # Calcular el promedio de ganancias y pérdidas
    avg_gain = gain.rolling(window=length, min_periods=1).mean()
    avg_loss = loss.rolling(window=length, min_periods=1).mean()
    
    # Calcular RS
    rs = avg_gain / avg_loss
    
    # Calcular RSI
    rsi = 100 - (100 / (1 + rs))
    
    # Adjuntar al DataFrame
    AllVar_df[f'RSI_{length}'] = rsi

# Mostrar las últimas 20 filas para verificar las nuevas columnas
print(AllVar_df.tail(20))

                   Open         High          Low        Close      Volume  \
Date
2024-04-03  5194.370117  5228.750000  5194.370117  5211.490234  3703250000
2024-04-04  5244.049805  5256.589844  5146.060059  5147.209961  4075680000
2024-04-05  5158.950195  5222.180176  5157.209961  5204.339844  3386780000
2024-04-08  5211.370117  5219.569824  5197.350098  5202.390137  3278180000
2024-04-09  5217.029785  5224.810059  5160.779785  5209.910156  3400680000
2024-04-10  5167.879883  5178.430176  5138.700195  5160.640137  3845930000
2024-04-11  5172.950195  5211.779785  5138.770020  5199.060059  3509380000
2024-04-12  5171.509766  5175.029785  5107.939941  5123.410156  3963220000
2024-04-15  5149.669922  5168.430176  5052.470215  5061.819824  3950210000
2024-04-16  5064.589844  5079.839844  5039.830078  5051.410156  4006200000
2024-04-17  5068.970215  5077.959961  5007.250000  5022.209961  3596130000
2024-04-18  5031.520020  5056.660156  5001.890137  5011.120117  3619760000
2024-04-19  5005.439941  5019.020020  4953.560059  4967.229980  3878750000
2024-04-22  4987.330078  5038.839844  4969.399902  5010.600098  3820250000
2024-04-23  5028.850098  5076.120117  5027.959961  5070.549805  3751400000
2024-04-24  5084.859863  5089.479980  5047.020020  5071.629883  3656740000
2024-04-25  5019.879883  5057.750000  4990.580078  5048.419922  3958050000
2024-04-26  5084.649902  5114.620117  5073.140137  5099.959961  3604140000
2024-04-29  5114.129883  5123.490234  5088.649902  5116.169922  3447450000
2024-04-30  5103.779785  5110.830078  5035.310059  5035.689941  4082470000

            DAAA  AAA10Y  DBAA  BAA10Y  BAMLH0A0HYM2  ...  5d_moving_avg  \
Date                                                  ...
2024-04-03  5.12    0.76  5.85    1.49          3.23  ...    5232.782129
2024-04-04  5.08    0.77  5.82    1.51          3.24  ...    5212.526074
2024-04-05  5.16    0.77  5.88    1.49          3.18  ...    5202.524023
2024-04-08  5.16    0.74  5.88    1.46          3.15  ...    5194.248047
2024-04-09  5.10    0.74  5.80    1.44          3.14  ...    5195.068066
2024-04-10  5.24    0.69  5.95    1.40          3.10  ...    5184.898047
2024-04-11  5.27    0.71  5.97    1.41          3.16  ...    5195.268066
2024-04-12  5.22    0.72  5.95    1.45          3.25  ...    5179.082129
2024-04-15  5.37    0.74  6.09    1.46          3.28  ...    5150.968066
2024-04-16  5.40    0.73  6.13    1.46          3.36  ...    5119.268066
2024-04-17  5.34    0.75  6.07    1.48          3.42  ...    5091.582031
2024-04-18  5.40    0.76  6.11    1.47          3.39  ...    5053.994043
2024-04-19  5.35    0.73  6.08    1.46          3.37  ...    5022.758008
2024-04-22  5.35    0.73  6.08    1.46          3.29  ...    5012.514063
2024-04-23  5.34    0.73  6.07    1.46          3.20  ...    5016.341992
2024-04-24  5.41    0.76  6.13    1.48          3.19  ...    5026.225977
2024-04-25  5.45    0.75  6.17    1.47          3.24  ...    5033.685938
2024-04-26  5.39    0.72  6.12    1.45          3.16  ...    5060.231934
2024-04-29  5.35    0.72  6.08    1.45          3.12  ...    5081.345898
2024-04-30  5.41    0.72  6.13    1.44          3.18  ...    5074.373926

            10d_moving_avg  20d_moving_avg  200d_moving_avg      10d_wma  \
Date
2024-04-03     5228.601074     5186.291992      4630.915146  5230.118049
2024-04-04     5220.860059     5188.414502      4634.603247  5229.434402
2024-04-05     5217.141064     5190.763501      4638.681396  5225.000089
2024-04-08     5213.962061     5194.698511      4642.864897  5221.324068
2024-04-09     5213.134082     5199.297021      4647.004998  5220.404821
2024-04-10     5208.840088     5198.565527      4651.066548  5221.361186
2024-04-11     5203.897070     5200.253027      4655.417749  5213.253338
2024-04-12     5190.803076     5198.899536      4659.142749  5201.699334
2024-04-15     5172.608057     5196.136035      4662.567549  5188.760795
2024-04-16     5157.168066     5191.235547      4665.842400  5179.916797
2024-04-17     5138.240039     5183.420557      4668.701550  5166.598580
2024-04-18     5124.631055     5172.745557      4671.479202  5162.493324
2024-04-19     5100.920068     5159.030566      4674.081252  5143.689728
2024-04-22     5081.741064     5147.851562      4677.076304  5121.753533
2024-04-23     5067.805029     5140.469556      4680.434302  5095.916238
2024-04-24     5058.904004     5133.872046      4683.744802  5077.418759
2024-04-25     5043.839990     5123.868530      4686.790603  5049.196928
2024-04-26     5041.494971     5116.149023      4689.929602  5034.303258
2024-04-29     5046.929980     5109.769019      4692.960251  5031.596014
2024-04-30     5045.357959     5101.263013      4695.611602  5030.495614

             Momentum  Stochastic_%K  Stochastic_%D     RSI_20     RSI_10
Date
2024-04-03   5.680176      69.282209      76.922842  36.743012  41.993476
2024-04-04 -64.280273      32.277841      57.726515  46.063525  67.269040
2024-04-05  57.129883      65.165927      55.575326  45.679765  57.034221
2024-04-08  -1.949707      64.043535      53.829101  42.314434  56.138254
2024-04-09   7.520020      65.769507      64.992990  41.049476  51.652784
2024-04-10 -49.270020      35.071675      54.961573  51.446470  57.529621
2024-04-11  38.419922      59.009321      53.283501  46.840893  58.869584
2024-04-12 -75.649902      11.875426      35.318808  52.274814  68.789456
2024-04-15 -61.590332       4.402305      25.095684  54.434444  72.775079
2024-04-16 -10.409668       5.146243       7.141325  58.150236  70.758261
2024-04-17 -29.200195       5.807436       5.118661  62.995098  73.934084
2024-04-18 -11.089844       3.510033       4.821237  68.848456  69.882834
2024-04-19 -43.890137       4.391378       4.569616  73.114898  86.036057
2024-04-22  43.370117      18.323760       8.741723  67.762485  75.888874
2024-04-23  59.949707      37.582232      20.099123  60.963596  66.479094
2024-04-24   1.080078      37.929201      31.278398  59.999408  61.879124
2024-04-25 -23.209961      30.473144      35.328193  65.677284  70.954841
2024-04-26  51.540039      47.166416      38.522920  61.289625  53.496584
2024-04-29  16.209961      53.661347      43.766969  59.254433  40.627668
2024-04-30 -80.479980      27.102908      42.643557  61.621498  52.183242

[20 rows x 33 columns]

Indicador Larry Williams %R

El indicador Larry Williams %R es una medida de momentum que se utiliza para identificar niveles de sobrecompra y sobreventa en un mercado. Se calcula como un porcentaje que refleja la posición del precio de cierre relativo a su rango más alto y más bajo durante un número específico de períodos pasados. La fórmula del Larry Williams %R es:

%R= [(Hn-C)/(Hn-Ln)]x100

donde:

C es el precio de cierre actual,
Hn  es el precio más alto en los últimos n períodos,
Ln es el precio más bajo en los últimos 
�
n períodos,
�
n es el número de períodos utilizados para el cálculo.
Generalmente, se utiliza un período de 14 días para el cálculo de este indicador, pero se puede ajustar según las necesidades del análisis. Para agregar el Larry Williams %R al DataFrame sp500 para los últimos 14 días, puedes usar el siguiente código:

In [18]:
# Asumiendo que sp500 es tu DataFrame y tiene columnas 'High', 'Low', y 'Close' con los precios más altos, más bajos y de cierre

# Configurar el número de períodos para el cálculo de Williams %R
n = 10

# Calcular el precio más alto y el más bajo de los últimos n días
high_n = AllVar_df['High'].rolling(window=n).max()
low_n = AllVar_df['Low'].rolling(window=n).min()

# Calcular el Williams %R
AllVar_df['Williams_%R'] = ((high_n - AllVar_df['Close']) / (high_n - low_n)) * -100

# Mostrar las últimas filas para verificar la nueva columna
print(AllVar_df.tail())

                   Open         High          Low        Close      Volume  \
Date
2024-04-24  5084.859863  5089.479980  5047.020020  5071.629883  3656740000
2024-04-25  5019.879883  5057.750000  4990.580078  5048.419922  3958050000
2024-04-26  5084.649902  5114.620117  5073.140137  5099.959961  3604140000
2024-04-29  5114.129883  5123.490234  5088.649902  5116.169922  3447450000
2024-04-30  5103.779785  5110.830078  5035.310059  5035.689941  4082470000

            DAAA  AAA10Y  DBAA  BAA10Y  BAMLH0A0HYM2  ...  10d_moving_avg  \
Date                                                  ...
2024-04-24  5.41    0.76  6.13    1.48          3.19  ...     5058.904004
2024-04-25  5.45    0.75  6.17    1.47          3.24  ...     5043.839990
2024-04-26  5.39    0.72  6.12    1.45          3.16  ...     5041.494971
2024-04-29  5.35    0.72  6.08    1.45          3.12  ...     5046.929980
2024-04-30  5.41    0.72  6.13    1.44          3.18  ...     5045.357959

            20d_moving_avg  200d_moving_avg      10d_wma   Momentum  \
Date
2024-04-24     5133.872046      4683.744802  5077.418759   1.080078
2024-04-25     5123.868530      4686.790603  5049.196928 -23.209961
2024-04-26     5116.149023      4689.929602  5034.303258  51.540039
2024-04-29     5109.769019      4692.960251  5031.596014  16.209961
2024-04-30     5101.263013      4695.611602  5030.495614 -80.479980

            Stochastic_%K  Stochastic_%D     RSI_20     RSI_10  Williams_%R
Date
2024-04-24      37.929201      31.278398  59.999408  61.879124   -54.275444
2024-04-25      30.473144      35.328193  65.677284  70.954841   -57.168023
2024-04-26      47.166416      38.522920  61.289625  53.496584   -31.865862
2024-04-29      53.661347      43.766969  59.254433  40.627668    -4.307836
2024-04-30      27.102908      42.643557  61.621498  52.183242   -51.668453

[5 rows x 34 columns]

Moving Average Convergence/Divergence Oscillator

The MACD turns two trend-following indicators, moving averages, into a momentum oscillator by subtracting the longer moving average from the shorter one. As a result, the MACD offers the best of both worlds: trend following and momentum. The MACD fluctuates above and below the zero line as the moving averages converge, cross and diverge. Traders can look for signal line crossovers, centerline crossovers and divergences to generate signals. Because the MACD is unbounded, it is not particularly useful for identifying overbought and oversold levels.

In [19]:
#https://school.stockcharts.com/doku.php?id=technical_indicators:moving_average_convergence_divergence_macd


# Calcular las EMAs de 12 y 26 períodos para la columna 'Close'
ema12 = AllVar_df['Close'].ewm(span=12, adjust=False).mean()
ema26 = AllVar_df['Close'].ewm(span=26, adjust=False).mean()

# Calcular el MACD restando la EMA de 26 períodos de la EMA de 12 períodos
AllVar_df['MACD'] = ema12 - ema26

# Calcular la línea de señal como la EMA de 9 períodos del MACD
AllVar_df['Signal_Line'] = AllVar_df['MACD'].ewm(span=9, adjust=False).mean()

# Mostrar las últimas filas para verificar las nuevas columnas
print(AllVar_df.tail())
AllVar_df.head()

                   Open         High          Low        Close      Volume  \
Date
2024-04-24  5084.859863  5089.479980  5047.020020  5071.629883  3656740000
2024-04-25  5019.879883  5057.750000  4990.580078  5048.419922  3958050000
2024-04-26  5084.649902  5114.620117  5073.140137  5099.959961  3604140000
2024-04-29  5114.129883  5123.490234  5088.649902  5116.169922  3447450000
2024-04-30  5103.779785  5110.830078  5035.310059  5035.689941  4082470000

            DAAA  AAA10Y  DBAA  BAA10Y  BAMLH0A0HYM2  ...  200d_moving_avg  \
Date                                                  ...
2024-04-24  5.41    0.76  6.13    1.48          3.19  ...      4683.744802
2024-04-25  5.45    0.75  6.17    1.47          3.24  ...      4686.790603
2024-04-26  5.39    0.72  6.12    1.45          3.16  ...      4689.929602
2024-04-29  5.35    0.72  6.08    1.45          3.12  ...      4692.960251
2024-04-30  5.41    0.72  6.13    1.44          3.18  ...      4695.611602

                10d_wma   Momentum  Stochastic_%K  Stochastic_%D     RSI_20  \
Date
2024-04-24  5077.418759   1.080078      37.929201      31.278398  59.999408
2024-04-25  5049.196928 -23.209961      30.473144      35.328193  65.677284
2024-04-26  5034.303258  51.540039      47.166416      38.522920  61.289625
2024-04-29  5031.596014  16.209961      53.661347      43.766969  59.254433
2024-04-30  5030.495614 -80.479980      27.102908      42.643557  61.621498

               RSI_10  Williams_%R       MACD  Signal_Line
Date
2024-04-24  61.879124   -54.275444 -30.896300   -16.011605
2024-04-25  70.954841   -57.168023 -30.741278   -18.957539
2024-04-26  53.496584   -31.865862 -26.158038   -20.397639
2024-04-29  40.627668    -4.307836 -20.975981   -20.513307
2024-04-30  52.183242   -51.668453 -23.096977   -21.030041

[5 rows x 36 columns]

,Open,High,Low,Close,Volume,DAAA,AAA10Y,DBAA,BAA10Y,BAMLH0A0HYM2,...,200d_moving_avg,10d_wma,Momentum,Stochastic_%K,Stochastic_%D,RSI_20,RSI_10,Williams_%R,MACD,Signal_Line
Date,,,,,,,,,,,,,,,,,,,,,
2000-08-23,1498.130005,1507.199951,1489.520020,1505.969971,871000000,7.55,1.82,8.26,2.53,6.43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
2000-08-24,1505.969971,1511.160034,1501.250000,1508.310059,837100000,7.51,1.78,8.22,2.49,6.44,...,NaN,NaN,2.340088,NaN,NaN,0.000000,0.000000,NaN,0.186674,0.037335
2000-08-25,1508.310059,1513.469971,1505.089966,1506.449951,685600000,7.52,1.79,8.23,2.50,6.42,...,NaN,NaN,-1.860107,NaN,NaN,44.286213,44.286213,NaN,0.182416,0.066351
2000-08-28,1506.449951,1523.949951,1506.449951,1514.089966,733600000,7.56,1.78,8.27,2.49,6.36,...,NaN,NaN,7.640015,NaN,NaN,15.710088,15.710088,NaN,0.786461,0.210373
2000-08-29,1514.089966,1514.810059,1505.459961,1509.839966,795600000,7.58,1.77,8.30,2.49,6.30,...,NaN,NaN,-4.250000,NaN,NaN,37.974069,37.974069,NaN,0.911722,0.350643

4.3 Cambios diarios
Trabajo con daily changes y no números absolutos porque ARIMA y modelos en general trabajan mejor con series estacionarias. Para observaciones diarias, los cambios diarios son una forma común de estacionarizar la serie temporal.

In [20]:
# Calcular los retornos diarios 
retornos_diarios = AllVar_df[['Close']].pct_change()

# Multiplicar por 100 para obtener porcentajes
retornos_diarios = retornos_diarios * 100

# Añadir la columna de retornos diarios al DataFrame original
# Nombrando la columna como 'Retornos Diarios'
AllVar_df['Daily Returns'] = retornos_diarios

In [21]:
columns_to_change = [
    'DAAA', 'AAA10Y', 'DBAA', 'BAA10Y', 'BAMLH0A0HYM2', 'BAMLH0A2HYB', 
    'BAMLH0A3HYC', 'BAMLHE00EHYIOAS', 'T10Y2Y', 'T10Y3M', 'T5YIE', 'DEXUSEU', 
    'DEXCHUS', 'DEXCAUS', 'DEXMXUS', 'VIXCLS', 'GVZCLS'
]
for column in columns_to_change:
    new_column_name = f'{column}_daily_change'
    AllVar_df[new_column_name] = AllVar_df[column].pct_change() * 100

print(AllVar_df.head())

                   Open         High          Low        Close     Volume  \
Date
2000-08-23  1498.130005  1507.199951  1489.520020  1505.969971  871000000
2000-08-24  1505.969971  1511.160034  1501.250000  1508.310059  837100000
2000-08-25  1508.310059  1513.469971  1505.089966  1506.449951  685600000
2000-08-28  1506.449951  1523.949951  1506.449951  1514.089966  733600000
2000-08-29  1514.089966  1514.810059  1505.459961  1509.839966  795600000

            DAAA  AAA10Y  DBAA  BAA10Y  BAMLH0A0HYM2  ...  \
Date                                                  ...
2000-08-23  7.55    1.82  8.26    2.53          6.43  ...
2000-08-24  7.51    1.78  8.22    2.49          6.44  ...
2000-08-25  7.52    1.79  8.23    2.50          6.42  ...
2000-08-28  7.56    1.78  8.27    2.49          6.36  ...
2000-08-29  7.58    1.77  8.30    2.49          6.30  ...

            BAMLHE00EHYIOAS_daily_change  T10Y2Y_daily_change  \
Date
2000-08-23                           NaN                  NaN
2000-08-24                      3.937008            -2.127660
2000-08-25                     -0.252525             0.000000
2000-08-28                      0.000000            -2.173913
2000-08-29                     -1.898734             0.000000

            T10Y3M_daily_change  T5YIE_daily_change  DEXUSEU_daily_change  \
Date
2000-08-23                  NaN                 NaN                   NaN
2000-08-24             0.000000                 NaN              0.680272
2000-08-25             3.571429                 NaN             -0.044307
2000-08-28            -6.896552                 NaN             -0.243794
2000-08-29            -7.407407                 NaN             -0.399911

            DEXCHUS_daily_change  DEXCAUS_daily_change  DEXMXUS_daily_change  \
Date
2000-08-23                   NaN                   NaN                   NaN
2000-08-24              0.007247             -0.040331             -0.307360
2000-08-25              0.000000             -0.289153             -0.129814
2000-08-28              0.000000              0.114648             -0.205806
2000-08-29              0.000000              0.154934              0.211657

            VIXCLS_daily_change  GVZCLS_daily_change
Date
2000-08-23                  NaN                  NaN
2000-08-24            -1.956272                  NaN
2000-08-25            -2.992958                  NaN
2000-08-28             0.060496                  NaN
2000-08-29             2.116082                  NaN

[5 rows x 54 columns]

C:\Users\lgarn\AppData\Local\Temp\ipykernel_22256\2385237343.py:8: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  AllVar_df[new_column_name] = AllVar_df[column].pct_change() * 100
C:\Users\lgarn\AppData\Local\Temp\ipykernel_22256\2385237343.py:8: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  AllVar_df[new_column_name] = AllVar_df[column].pct_change() * 100
C:\Users\lgarn\AppData\Local\Temp\ipykernel_22256\2385237343.py:8: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  AllVar_df[new_column_name] = AllVar_df[column].pct_change() * 100
C:\Users\lgarn\AppData\Local\Temp\ipykernel_22256\2385237343.py:8: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  AllVar_df[new_column_name] = AllVar_df[column].pct_change() * 100
C:\Users\lgarn\AppData\Local\Temp\ipykernel_22256\2385237343.py:8: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  AllVar_df[new_column_name] = AllVar_df[column].pct_change() * 100
C:\Users\lgarn\AppData\Local\Temp\ipykernel_22256\2385237343.py:8: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  AllVar_df[new_column_name] = AllVar_df[column].pct_change() * 100
C:\Users\lgarn\AppData\Local\Temp\ipykernel_22256\2385237343.py:8: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  AllVar_df[new_column_name] = AllVar_df[column].pct_change() * 100
C:\Users\lgarn\AppData\Local\Temp\ipykernel_22256\2385237343.py:8: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  AllVar_df[new_column_name] = AllVar_df[column].pct_change() * 100
C:\Users\lgarn\AppData\Local\Temp\ipykernel_22256\2385237343.py:8: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  AllVar_df[new_column_name] = AllVar_df[column].pct_change() * 100
C:\Users\lgarn\AppData\Local\Temp\ipykernel_22256\2385237343.py:8: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  AllVar_df[new_column_name] = AllVar_df[column].pct_change() * 100
C:\Users\lgarn\AppData\Local\Temp\ipykernel_22256\2385237343.py:8: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  AllVar_df[new_column_name] = AllVar_df[column].pct_change() * 100
C:\Users\lgarn\AppData\Local\Temp\ipykernel_22256\2385237343.py:8: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  AllVar_df[new_column_name] = AllVar_df[column].pct_change() * 100
C:\Users\lgarn\AppData\Local\Temp\ipykernel_22256\2385237343.py:8: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  AllVar_df[new_column_name] = AllVar_df[column].pct_change() * 100
C:\Users\lgarn\AppData\Local\Temp\ipykernel_22256\2385237343.py:8: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  AllVar_df[new_column_name] = AllVar_df[column].pct_change() * 100
C:\Users\lgarn\AppData\Local\Temp\ipykernel_22256\2385237343.py:8: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  AllVar_df[new_column_name] = AllVar_df[column].pct_change() * 100

In [22]:
# Calcula los cambios diarios en el precio del oil.
AllVar_df['oil_daily_changes'] = AllVar_df['Close_oil'].pct_change() * 100  # Multiplicar por 100 para convertir a porcentaje

In [23]:
AllVar_df.head()

,Open,High,Low,Close,Volume,DAAA,AAA10Y,DBAA,BAA10Y,BAMLH0A0HYM2,...,T10Y2Y_daily_change,T10Y3M_daily_change,T5YIE_daily_change,DEXUSEU_daily_change,DEXCHUS_daily_change,DEXCAUS_daily_change,DEXMXUS_daily_change,VIXCLS_daily_change,GVZCLS_daily_change,oil_daily_changes
Date,,,,,,,,,,,,,,,,,,,,,
2000-08-23,1498.130005,1507.199951,1489.520020,1505.969971,871000000,7.55,1.82,8.26,2.53,6.43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-08-24,1505.969971,1511.160034,1501.250000,1508.310059,837100000,7.51,1.78,8.22,2.49,6.44,...,-2.127660,0.000000,NaN,0.680272,0.007247,-0.040331,-0.307360,-1.956272,NaN,-1.310453
2000-08-25,1508.310059,1513.469971,1505.089966,1506.449951,685600000,7.52,1.79,8.23,2.50,6.42,...,0.000000,3.571429,NaN,-0.044307,0.000000,-0.289153,-0.129814,-2.992958,NaN,1.327854
2000-08-28,1506.449951,1523.949951,1506.449951,1514.089966,733600000,7.56,1.78,8.27,2.49,6.36,...,-2.173913,-6.896552,NaN,-0.243794,0.000000,0.114648,-0.205806,0.060496,NaN,2.558501
2000-08-29,1514.089966,1514.810059,1505.459961,1509.839966,795600000,7.58,1.77,8.30,2.49,6.30,...,0.000000,-7.407407,NaN,-0.399911,0.000000,0.154934,0.211657,2.116082,NaN,-0.456336

In [24]:
# Contar los valores nulos en cada columna
null_counts_All = AllVar_df.isnull().sum()
print("Conteo de valores nulos por columna antes de limpiar:\n", null_counts_All)

# Reemplazar los valores infinitos por NaN
AllVar_df.replace([np.inf, -np.inf], np.nan, inplace=True)

# Eliminar las filas con valores nulos o NaN
AllVar_df = AllVar_df.dropna()

# Contar de nuevo los valores nulos en cada columna
null_counts_clean = AllVar_df.isnull().sum()
print("Conteo de valores nulos por columna después de limpiar:\n", null_counts_clean)

# Guardar el DataFrame limpio a un archivo CSV
#AllVar_df.to_csv("AllVar_df_clean.csv", index=False)

Conteo de valores nulos por columna antes de limpiar:
 Open                               0
High                               0
Low                                0
Close                              0
Volume                             0
DAAA                              39
AAA10Y                            44
DBAA                              39
BAA10Y                            44
BAMLH0A0HYM2                       2
BAMLH0A2HYB                        2
BAMLH0A3HYC                        2
BAMLHE00EHYIOAS                    2
T10Y2Y                            42
T10Y3M                            42
T5YIE                            622
DEXUSEU                           53
DEXCHUS                           53
DEXCAUS                           53
DEXMXUS                           53
VIXCLS                             0
GVZCLS                          1940
Close_oil                          0
5d_moving_avg                      4
10d_moving_avg                     9
20d_moving_avg                    19
200d_moving_avg                  199
10d_wma                            9
Momentum                           1
Stochastic_%K                     19
Stochastic_%D                     21
RSI_20                             1
RSI_10                             1
Williams_%R                        9
MACD                               0
Signal_Line                        0
Daily Returns                      1
DAAA_daily_change                  1
AAA10Y_daily_change                1
DBAA_daily_change                  1
BAA10Y_daily_change                1
BAMLH0A0HYM2_daily_change          1
BAMLH0A2HYB_daily_change           1
BAMLH0A3HYC_daily_change           1
BAMLHE00EHYIOAS_daily_change       1
T10Y2Y_daily_change                3
T10Y3M_daily_change                2
T5YIE_daily_change               586
DEXUSEU_daily_change               1
DEXCHUS_daily_change               1
DEXCAUS_daily_change               1
DEXMXUS_daily_change               1
VIXCLS_daily_change                1
GVZCLS_daily_change             1941
oil_daily_changes                  1
dtype: int64
Conteo de valores nulos por columna después de limpiar:
 Open                            0
High                            0
Low                             0
Close                           0
Volume                          0
DAAA                            0
AAA10Y                          0
DBAA                            0
BAA10Y                          0
BAMLH0A0HYM2                    0
BAMLH0A2HYB                     0
BAMLH0A3HYC                     0
BAMLHE00EHYIOAS                 0
T10Y2Y                          0
T10Y3M                          0
T5YIE                           0
DEXUSEU                         0
DEXCHUS                         0
DEXCAUS                         0
DEXMXUS                         0
VIXCLS                          0
GVZCLS                          0
Close_oil                       0
5d_moving_avg                   0
10d_moving_avg                  0
20d_moving_avg                  0
200d_moving_avg                 0
10d_wma                         0
Momentum                        0
Stochastic_%K                   0
Stochastic_%D                   0
RSI_20                          0
RSI_10                          0
Williams_%R                     0
MACD                            0
Signal_Line                     0
Daily Returns                   0
DAAA_daily_change               0
AAA10Y_daily_change             0
DBAA_daily_change               0
BAA10Y_daily_change             0
BAMLH0A0HYM2_daily_change       0
BAMLH0A2HYB_daily_change        0
BAMLH0A3HYC_daily_change        0
BAMLHE00EHYIOAS_daily_change    0
T10Y2Y_daily_change             0
T10Y3M_daily_change             0
T5YIE_daily_change              0
DEXUSEU_daily_change            0
DEXCHUS_daily_change            0
DEXCAUS_daily_change            0
DEXMXUS_daily_change            0
VIXCLS_daily_change             0
GVZCLS_daily_change             0
oil_daily_changes               0
dtype: int64

IMPORTANTE: cuando se unen todas las variables en AllVar_df, se cambia año de inicio al 2008 porque es cuando hay datos para todas.

In [25]:
AllVar_df.head()

,Open,High,Low,Close,Volume,DAAA,AAA10Y,DBAA,BAA10Y,BAMLH0A0HYM2,...,T10Y2Y_daily_change,T10Y3M_daily_change,T5YIE_daily_change,DEXUSEU_daily_change,DEXCHUS_daily_change,DEXCAUS_daily_change,DEXMXUS_daily_change,VIXCLS_daily_change,GVZCLS_daily_change,oil_daily_changes
Date,,,,,,,,,,,,,,,,,,,,,
2008-06-04,1376.260010,1388.180054,1371.739990,1377.199951,4338640000,5.64,1.66,7.02,3.04,6.79,...,2.721088,3.381643,-1.694915,-0.006471,0.421107,0.935230,0.291545,2.766798,-0.873744,-1.616921
2008-06-05,1377.479980,1404.050049,1377.479980,1404.050049,4350790000,5.69,1.63,7.07,3.01,6.63,...,1.986755,3.271028,2.155172,0.692422,-0.248445,0.492854,-0.077519,-10.432692,0.396651,4.488960
2008-06-06,1400.060059,1400.060059,1359.900024,1360.680054,4771660000,5.61,1.67,6.98,3.04,6.68,...,0.000000,-5.429864,3.375527,1.098972,-0.331126,-0.078470,0.543057,26.462695,3.599649,8.412233
2008-06-09,1360.829956,1370.630005,1350.619995,1361.760010,4404570000,5.58,1.56,6.96,2.94,6.58,...,-16.233766,1.913876,1.224490,-0.082639,0.000000,0.353392,-0.038580,-1.867572,3.686441,-3.024388
2008-06-10,1358.979980,1366.839966,1351.560059,1358.439941,4635070000,5.66,1.55,7.05,2.94,6.49,...,-6.976744,-1.877934,0.000000,-1.558722,0.026000,0.176074,0.231571,0.259516,3.759706,-2.262753

In [26]:
# Crear un "lag" de 1 día para los retornos diarios
AllVar_df['Lag 1_Returns'] = AllVar_df['Daily Returns'].shift(+1)
AllVar_df['Lag 2_Returns'] = AllVar_df['Daily Returns'].shift(+2)
AllVar_df['Next_Day_Returns'] = AllVar_df['Daily Returns'].shift(-1)

# Crear la columna 'TARGET' basada en 'Lagged_Daily_Returns' - Quiero predecir si el retorno del día siguiente será positivo o negativo basado con respecto al día actual en el que tomo la decision al final del día
AllVar_df['TARGET'] = np.where(AllVar_df['Next_Day_Returns'] > 0, 1, 0)

# Mostrar las primeras filas para verificar las nuevas columnas
AllVar_df.head()

,Open,High,Low,Close,Volume,DAAA,AAA10Y,DBAA,BAA10Y,BAMLH0A0HYM2,...,DEXCHUS_daily_change,DEXCAUS_daily_change,DEXMXUS_daily_change,VIXCLS_daily_change,GVZCLS_daily_change,oil_daily_changes,Lag 1_Returns,Lag 2_Returns,Next_Day_Returns,TARGET
Date,,,,,,,,,,,,,,,,,,,,,
2008-06-04,1376.260010,1388.180054,1371.739990,1377.199951,4338640000,5.64,1.66,7.02,3.04,6.79,...,0.421107,0.935230,0.291545,2.766798,-0.873744,-1.616921,NaN,NaN,1.949615,1
2008-06-05,1377.479980,1404.050049,1377.479980,1404.050049,4350790000,5.69,1.63,7.07,3.01,6.63,...,-0.248445,0.492854,-0.077519,-10.432692,0.396651,4.488960,-0.032670,NaN,-3.088921,0
2008-06-06,1400.060059,1400.060059,1359.900024,1360.680054,4771660000,5.61,1.67,6.98,3.04,6.68,...,-0.331126,-0.078470,0.543057,26.462695,3.599649,8.412233,1.949615,-0.032670,0.079369,1
2008-06-09,1360.829956,1370.630005,1350.619995,1361.760010,4404570000,5.58,1.56,6.96,2.94,6.58,...,0.000000,0.353392,-0.038580,-1.867572,3.686441,-3.024388,-3.088921,1.949615,-0.243807,0
2008-06-10,1358.979980,1366.839966,1351.560059,1358.439941,4635070000,5.66,1.55,7.05,2.94,6.49,...,0.026000,0.176074,0.231571,0.259516,3.759706,-2.262753,0.079369,-3.088921,-1.689434,0

Variables control

Para los tres modelos probé iniciar el 30-Abril de  2014, 2019, 2022.  EL logit mejora  conforme utiliza menos periodo de tiempo. Random forest da mejor a partir del 2014 y emperoa si utilizamos 2019 y 2022 como puntos de inicio.  Para  guardar en csv los resutlados de cada estraegia de cada modelo con la fecha respectiva.

Selecciono el tamaño del periodo de prueba y la fecha de inicio de análisis para el que el periodo de prueba se mantenga como una serie de tiempo en orden histórico.

In [27]:
fecha_inicio = '2014-04-30'
test_size_Control=0.2

In [28]:
# Convertir a datetime
fecha_inicio_1 = pd.to_datetime(fecha_inicio)
end_date_1 = pd.to_datetime(end_date)


# Calcular el total de días
total_dias = (end_date_1 - fecha_inicio_1).days

# Calcular el número de días para el entrenamiento
dias_entrenamiento = int(total_dias * (1 - test_size_Control))

# Calcular la fecha de corte
fecha_corte = fecha_inicio_1 + pd.Timedelta(days=dias_entrenamiento)

print("Fecha de corte para dividir los datos:", fecha_corte)

Fecha de corte para dividir los datos: 2022-04-30 00:00:00

LOGIT

Razones para Utilizar Cambios Porcentuales Diarios y Estacionariedad
Reducción de Tendencias y Estacionalidades:

Las series temporales financieras y económicas a menudo tienen tendencias y estacionalidades. Los cambios porcentuales diarios tienden a eliminar estas tendencias, haciendo que la serie sea más estacionaria.
Por ejemplo, el precio del petróleo puede tener una tendencia a largo plazo al alza o a la baja, pero los cambios diarios son menos propensos a mostrar esta tendencia.
Mejoras en la Modelización:

Los modelos de regresión, incluyendo la regresión logística, asumen implícitamente que las relaciones entre las variables son estacionarias. Al trabajar con series más estacionarias, se mejora la validez de estos modelos.
Los cambios porcentuales diarios proporcionan una forma de estandarizar las variaciones, facilitando la modelización de relaciones consistentes entre las variables.
Estabilidad y Robustez del Modelo:

Los modelos construidos sobre series estacionarias suelen ser más estables y robustos. La falta de estacionariedad puede llevar a problemas como autocorrelación residual, donde los residuos del modelo están correlacionados, violando los supuestos del modelo y llevando a predicciones menos precisas.
Comparabilidad:

Las series de cambios porcentuales diarios permiten comparar diferentes variables en una escala uniforme, lo que facilita la interpretación de los coeficientes y la identificación de relaciones significativas.
Por ejemplo, un cambio del 1% en el precio del petróleo es comparable a un cambio del 1% en el tipo de cambio USD/EUR, independientemente de sus valores absolutos.

In [172]:
#  Utilizo las mismas vairbales que eran relevantes en el ARIMAX y coinciden con conclusiones de matriz de correlaciones. Añdo otras sugeridas por matriz de correlaciones

#Variables sugeidas por el ARIMAX - 'VIXCLS', 'BAA10Y_daily_change', 'BAMLH0A0HYM2_daily_change','T5YIE_daily_change', 'DEXCHUS_daily_change',  'DEXMXUS_daily_change','VIXCLS_daily_change'
# Add other variables trying to sue at lest one or fw technical and other mcro metrics'VIXCLS', 'GVZCLS', 'DAAA_daily_change', 'AAA10Y_daily_change',  'DBAA_daily_change','BAA10Y_daily_change', 'BAMLHE00EHYIOAS_daily_change',  'T5YIE_daily_change', 'DEXUSEU_daily_change', 'DEXCHUS_daily_change','MACD','Signal_Line'
selected_columns = ['VIXCLS', 'GVZCLS', 'DAAA_daily_change', 'AAA10Y_daily_change',  'DBAA_daily_change','BAA10Y_daily_change', 'BAMLHE00EHYIOAS_daily_change',  'T5YIE_daily_change', 'DEXUSEU_daily_change', 'DEXCHUS_daily_change','MACD','Signal_Line','Williams_%R','Stochastic_%D']

# Ahora crea un nuevo DataFrame con solo las columnas seleccionadas

 

AllVar_df_Shortened = AllVar_df.loc[fecha_inicio:]

X_logit=AllVar_df_Shortened[selected_columns] #AllVar_df_Shortened.drop(columns=['Next_Day_Returns','TARGET', 'DAAA','AAA10Y','DBAA','BAA10Y','BAMLH0A0HYM2','BAMLH0A2HYB','BAMLH0A3HYC','BAMLHE00EHYIOAS','T10Y2Y','T10Y3M','T5YIE','DEXUSEU','DEXCHUS','DEXCAUS','DEXMXUS','VIXCLS_daily_change','GVZCLS_daily_change'])

Y_logit= AllVar_df_Shortened[['TARGET']]

X_logit.head()

,VIXCLS,GVZCLS,DAAA_daily_change,AAA10Y_daily_change,DBAA_daily_change,BAA10Y_daily_change,BAMLHE00EHYIOAS_daily_change,T5YIE_daily_change,DEXUSEU_daily_change,DEXCHUS_daily_change,MACD,Signal_Line,Williams_%R,Stochastic_%D
Date,,,,,,,,,,,,,,
2014-04-30,13.41,15.52,-0.707547,0.653595,-0.617284,0.465116,3.333333,0.512821,0.449015,0.020774,5.657878,3.440574,-3.189594,75.828069
2014-05-01,13.25,15.15,-1.187648,-0.649351,-1.242236,-0.925926,-0.322581,0.000000,-0.021629,0.000000,6.344873,4.021434,-12.927632,81.556479
2014-05-02,12.91,14.85,-0.961538,-0.653595,-0.628931,0.000000,0.000000,-0.510204,-0.021634,0.000000,6.608187,4.538784,-25.024432,82.686105
2014-05-05,13.29,15.51,0.970874,0.657895,0.843882,0.467290,-0.647249,-1.538462,0.144259,-0.220479,7.019979,5.035023,-16.379977,85.156173
2014-05-06,13.80,15.02,-0.721154,-0.653595,-0.418410,0.000000,0.000000,-0.520833,0.288101,-0.317038,5.911264,5.210272,-57.981342,80.398517

In [163]:
#importo las libreris
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler

In [164]:

# Asumiendo que ya has definido X_logit (variables independientes) y Y_logit (variable dependiente), y están sin la columna 'Fecha'
X_train, X_test, Y_train, Y_test = train_test_split(X_logit, Y_logit, test_size=
test_size_Control, shuffle=False)  # shuffle=False para mantener el orden


scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)


# Crear una instancia del modelo de Regresión Logística
model = LogisticRegression(max_iter=1000)

# Entrenar el modelo con el conjunto de entrenamiento
model.fit(X_train_scaled, Y_train)

c:\Users\lgarn\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(max_iter=1000)

In [165]:
import joblib
# Guardar el modelo
joblib.dump(model, 'logistic_regression_model.pkl')

# Imprimir los detalles del modelo
print("Intercept:", model.intercept_)
print("Coefficients:")
for feature, coef in zip(X_train.columns, model.coef_[0]):
    print(f"{feature}: {coef}")

Intercept: [0.18506664]
Coefficients:
VIXCLS: 0.05830248556767921
GVZCLS: -0.04070539643971028
DAAA_daily_change: -0.07842325814857741
AAA10Y_daily_change: 0.07206458935581014
DBAA_daily_change: -0.05131885173374472
BAA10Y_daily_change: -0.06797509303119272
BAMLHE00EHYIOAS_daily_change: 0.03267961019775584
T5YIE_daily_change: 0.01249667877007848
DEXUSEU_daily_change: 0.04180542443488986
DEXCHUS_daily_change: -0.009921249758133471
MACD: 0.022620563133968995
Signal_Line: 0.0010359094071779582
Williams_%R: -0.07982657773931309

In [166]:
# Realizar predicciones en el conjunto de prueba
Y_pred = model.predict(X_test_scaled)

In [167]:
# Imprimir reporte de clasificación
print(classification_report(Y_test, Y_pred))

# Imprimir matriz de confusión
print(confusion_matrix(Y_test, Y_pred))

              precision    recall  f1-score   support

           0       0.69      0.12      0.21       249
           1       0.52      0.94      0.67       248

    accuracy                           0.53       497
   macro avg       0.60      0.53      0.44       497
weighted avg       0.60      0.53      0.44       497

[[ 31 218]
 [ 14 234]]

In [168]:
Y_test.head()

            TARGET
Date
2022-05-02       1
2022-05-03       1
2022-05-04       0
2022-05-05       0
2022-05-06       0

In [169]:
Y_pred_df=pd.DataFrame(Y_pred, columns=['Prediction'], index=Y_test.index)
Y_pred_df.head()

            Prediction
Date
2022-05-02           1
2022-05-03           1
2022-05-04           1
2022-05-05           1
2022-05-06           1

In [170]:
result_LOGIT = pd.merge(Y_pred_df, Y_test, how='left', left_index=True, right_index=True)
result_LOGIT.head()

            Prediction  TARGET
Date
2022-05-02           1       1
2022-05-03           1       1
2022-05-04           1       0
2022-05-05           1       0
2022-05-06           1       0

In [171]:

# Formatear el nombre del archivo para incluir las variables 'fecha_inicio' y 'test_size_Control'
nombre_archivo = f'result_LOGIT_{fecha_inicio}_testsize{test_size_Control}.csv'

# Guardar el DataFrame en un archivo CSV con el nombre formateado
result_LOGIT.to_csv(nombre_archivo, index=True)